# Rider / JetBrains
.idea/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Файлы операционной системы
.DS_Store
Thumbs.db
Desktop.ini

# Файлы базы данных SQLite
*.db
*.db-shm
*.db-wal